/* Write your CSS code here */
.home-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading-item {
  font-family: 'Roboto';
  font-size: 40px;
}
.button {
  font-size: 30px;
}
