/* Write your CSS code here */
.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-heading {
  font-family: Roboto;
}

.button {
  font-size: 30px;
}
